h3 { font-family: 'Nanum Pen Script', cursive;
color: #009973;}
h2 { font-family: 'Indie Flower', cursive;
color: #009999;}
ul {font-family: 'Shadows Into Light Two', cursive;
color:#006699;}
body { background-color:#99ffcc; }
img { height: 325px; }
body {text-align: center;}